<link rel="stylesheet" href="/css/acerca_de.css">

<div class="content">
    <div class="acerca-de">
        <div class="title">
            Acerca de <span style="color:#FFBF69;">Heart's ways</span>
        </div>
        <div class="content">
            <br>
            <span>Heart's ways</span> es un webapp de citas para conectar a personas mediante un sistema de filtros.
            <br><br>Una vez conectados, los usuarios pueden chatear durante 5 minutos, después de los cuales se preguntará a ambos si desean continuar charlando.
            <br><br>El chat seguirá en el inbox de los usuarios únicamente si ambos aceptan seguir charlando, esto también les permitirá ver las fotos de perfil de cada uno.

            <hr>
            <span>Heart's ways</span> fue creado como un proyecto para la clase de cómputo distribuido impartida en la especialidad en Bases de Datos del Instituto Tecnológico de Tijuana.
            <br><br>Proyecto realizado por Edgar Regalado.
            <br><a href="https://github.com/diespeso/heart_ways" target="_blank">Repositorio</a>
        </div>

    </div>
</div>