<link rel="stylesheet" href="/css/inbox.css">

<script>
    //codigo para el menu sidebar deslizante
    var port = 80; //quizas cambiar y usar handlebars?
    var host = "192.168.1.33" //mala practica pero sorry
    var sock;
    var chats;
    var rel_chat = {};

    function set_chats(c, r_c) {
        chats = c;
        rel_chat = r_c;
    }

    var username = '{{username}}'; //handlebars, quizas seria mejor con session pero asi esta bien la vdd
    var destinatario_actual;
    sock = new WebSocket(`ws://${host}:${port}`);
    
    sock.onopen = function(e) {
        console.log('recarga!')
        sock.send(JSON.stringify({
            type: 'registration',
            username: username
        }))
    };

    sock.onclose = function(e) {
        //cant send messages when close

        console.log('CERRANDO')
        sock.send(JSON.stringify({
            type: 'closing',
            username: username
        }))
    }

    sock.onmessage = function(msg) {
        var f = true //provisional, luego sera solo json
        try {
            var json = JSON.parse(msg.data)
        } catch(e) {
            console.log(`received: ${msg.data}`)
            f = false
        }
        if(f) {
            if(json.type == 'message') {
                console.log(JSON.stringify(json))
                cargar_mensaje(json)
            } else if(json.type == 'inbox') {
                document.getElementById('inbox-side-list').innerHTML = '' //rewrite
                console.log(json)

                set_chats(json.chats, json.users)
                
                for(var interaccion in json.users) {
                    console.log(interaccion)
                    if(json.users[interaccion] == username) {
                        continue //if its our own, ignore
                    }
                    
                    document.getElementById('inbox-side-list').innerHTML += `
                        <a href="#" onclick="cargar_chat('${interaccion}', '${json.users[interaccion]}')">
                            <div class="inbox-card" id="card_${json.users[interaccion]}">
                                <img src="/img/placeholder.png">
                                <div class="summary">
                                    <p class="inbox-username">${json.users[interaccion]}</p>
                                    <p>mensaje</p> <!--usar solo un max de caracteres para esto-->
                                </div>
                            </div>
                        </a>
                    `
                }
            }
        }
        
        
    }

    function enviarMensaje() {
        var mensaje = document.getElementById('mensaje').value;
        var json = {
            type: 'message',
            mensaje: mensaje,
            remitente: username,
            destinatario_actual: destinatario_actual
        };
        console.log(`enviando mensaje: ${JSON.stringify(json)}`)
        sock.send(JSON.stringify(json));
        document.getElementById('mensaje').value = '';
    }

    

    function cargar_chat(user, user_name) {
        console.log(`char de ${user_name}`)
        cambiar_destinatario(user)
        document.getElementById('destinatario-top').style.display = "block";
        document.getElementById('destinatario-top-name').innerHTML = `${user_name}`;
        ///code might break
        sock.send(JSON.stringify({
            type: 'registration',
            username: username
        }))
        ///code might break
        var f = false;
        for(var id in rel_chat) {
            if(id == user) {
                f = true;
            }
        }
        if(f) {
            document.getElementById('chat').innerHTML = render_chat(chats[user])
        }
        
    }

    function render_chat(chat) {
        //get user id
        var result = '';
        var usr_id;
        for(var key in rel_chat) {
            if(rel_chat[key] == username) {
                usr_id = key;
                break;
            }
        }
        chat.forEach((message) => {
            if(message.id_destinatario == usr_id) {
                result += `
                <div class="message-bubble-left">
                    <p>
                        ${message.contenido}
                    </p>
                </div>
                `
            } else if(message.id_remitente == usr_id) {
                result += `
                    <div class="message-bubble-right">
                        <p>
                            ${message.contenido}
                        </p>
                    </div>
                `
            }
        })
        return result
    }

    function cargar_mensaje(mensaje) {
        if(mensaje.destinatario == username) {
            document.getElementById('chat').innerHTML += `
                <div class="message-bubble-left">
                    <p>
                        ${mensaje.contenido}
                    </p>
                </div>
            `
        } else if(mensaje.remitente == username) {
            document.getElementById('chat').innerHTML += `
                <div class="message-bubble-right">
                    <p>
                        ${mensaje.contenido}
                    </p>
                </div>
            `
        }
    }

    function cambiar_destinatario(user) {
        /*destinatario_actual = user;*/
        console.log(rel_chat)
        console.log(user)
        destinatario_actual = rel_chat[user]
        console.log(`destinatario actual: ${destinatario_actual}`)
        console.log(document.getElementById(`card_${destinatario_actual}`))
        document.getElementById(`card_${destinatario_actual}`).classList.add('inbox-card-selected');
    }

    function cambiar_destinatario_illegal(user) {
        destinatario_actual = user;
        console.log(`destinatario actual ilegal: ${destinatario_actual}`)
    }


</script>
<div id="destinatario-top" style="display: none">
    <img src="img/placeholder.png">
    <span id="destinatario-top-name">null</span>
</div>
<div class="row">
    <div class="col-3 inbox-side-list" id="inbox-side-list">

    </div>
    <div class="col-9 chat-container">
        <div class="row centered">
            <div class="chat" id="chat">
            </div>
        </div>

        <div class="row centered">
            <div class="col-11  new-message-container">
                <form onsubmit="enviarMensaje();return false;" action="#">
                    <input type="textfield" id="mensaje">
                </form>
            </div>
            <div class="col-1 btn-send">
                <button onclick="enviarMensaje()">
                    Enviar
                </button>
            </div>
        </div>
    </div>
</div>


