<link rel="stylesheet" href="/css/main.css">

<script>
    if(window.location.search == '?failed_login=true') {
        alert('Usuario o contraseña incorrectos')
    }
</script>

<div class="row">
    <div class="col-8 side-img">
        <img src="/img/dating.jpg" id="img-left">
    </div>
    <div class="col middle-panel">
        <div>
            <h1>Hearts ways</h1>

            <h2 id="subtitulo">Chat de citas random basado <span style="color: #2EC4B6;">en filtros</span></h2>
        </div>
        <hr>
        <div class="panel">
            <h2 style="text-align:center; margin-top: -10px;">Unirse</h2>
            <hr>
            <form action="/signup" method="post">
                <label >Usuario</label><br>
                <input name="username" type="text">
                <br>
                <label>Correo</label><br>
                <input name="correo" type="text">
                <br>
                <label>Contraseña</label><br>
                <input name="pass" type="password">
                <br>
                <label>Fecha de nacimiento</label><br>  
                <input name="fecha_nacimiento" type="date">
                <br>
                <label>Sexo</label>
                <br>
                <input type="radio" id="masc" name="sexo" value="M">
                <label for="masc">Masculino</label>
                <input type="radio" id="fem" name="sexo" value="F">
                <label for="fem">Femenino</label>
                <br>
                <input type="submit" value="Unirme" class="btn-submit">
            </form>
        </div>
        <div class="panel">
            <h2 style="text-align:center; margin-top: -10px;">Ingresar</h2>
            <hr>
            <form action="/login" method="post">
                <label>Usuario</label>
                <br>
                <input name="username" type="text">
                <br>
                <label>Contraseña</label>
                <br>
                <input name="pass" type="password">
                <br>
                <input type="submit" value="Ingresar" class="btn-submit">
            </form>
        </div>
    </div>
</div>

<div class="right-panel-color">

</div>
<div class="right-panel-no-color">

</div>

<img id="flower-pic" src="/img/Illustration.png">

<div class="footer">
    Hearts ways 2022, creado por Edgar Regalado, <a href="https://github.com/diespeso/heart_ways" target="_blank">Repositorio</a>
</div>

