
.inbox-side-list {
    background-color: #2EC4B6;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    overflow-y: scroll;
    height: 90vh;
}

.inbox-card {
    border-radius: 4px;
    text-decoration: none;
}

.inbox-card-selected {
    background-color: red;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.inbox-card img {
    margin: 2%;
    width: 10%;
    display: inline;
}

.inbox-username {
    font-size: 1.2em;
    font-weight: bold;
   
}

#destinatario-top {
    background-color: #EDE7E3;
    position: absolute;
    top: 0.5vh;
    left: 25%;
    width: 25%;
    height: 8vh;

    border-radius: 10px;
    background: #EDE7E3;
    box-shadow:  10px 10px 10px #b4b0ad,
                -10px -10px 10px #ffffff;
}

#destinatario-top-name {
    font-weight: bold;
    font-size: 1.3em;
}

#destinatario-top img {
    margin: 2%;
    height: 64px;
    display: inline;
}

#link_profile {
    color: black;
}

.summary {
    display: inline-block;

    text-decoration: none;
    
}

a {
    text-decoration: none; /*fix*/
}

.summary p {
    margin: 0;
    color: white;
    text-decoration: none;
}



.inbox-card:hover {
    background-color: #FFBF69;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: black;
}

#main {
    background-color: aliceblue;
    transition: margin-left 0.5s;
    height: 90vh;
    overflow: hidden;
}

.chat-container {
    background-color: whitesmoke;
    background-image: url("/img/frutas.png");
    overflow: scroll;
    background-repeat: no-repeat;
    /*padding-right: 1.2%;*/
    /*padding-left: 15%;
    padding-right: 15%;*/
}

.chat {
    /*no soportado por firefox*/
    background-color: rgba(203, 243, 240, 0.65);
    height: 9vh;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    height: 80vh;
    overflow: scroll;
}

.new-message-container {
    /*no soportado por firefox*/
    background-color: rgba(203, 243, 240, 0.65);
    height: 8.5vh;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
    margin-top: 5px;

    
    /*margin-right: 11%;*/
}

.btn-send {
    height: 8.5vh;

    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    /*margin-left: 8.3%;*/  
    background-color: rgba(203, 243, 240, 0.65);
    height: 8.5vh;
}

.btn-send button {
    margin-top: 40%;
    background-image: url('/img/icons/send.png');
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    margin-top: 1.75vh;
    margin-left: 4%;
    background-size: 50px 50px;
}

.centered {
    padding-left: 15%;
    padding-right: 15%;
}

#mensaje {
    margin-top: 1vh;
    height: 6vh;
    width: 100%;
}

.message-bubble-left {
    background-color: rgba(205, 250, 240, 1.0);
    width: 40%;
    margin-top: 1vh;
    margin-left: 2%;
    border-radius: 4px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1vh;
    padding-bottom: 0.1vh;
    height: auto;
    box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.5);

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.message-bubble-right {
    background-color: rgba(255, 191, 105, 1.0);
    width: 40%;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: 2%;
    border-radius: 4px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1vh;
    padding-bottom: 0.1vh;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}