.blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.screen {
    background-color: burlywood;
    height: 100vh;
    padding-top: 20px;
}

#screen-blocker {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}

#mensaje-tiempo {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    margin-top: -5%;
    margin-left: -15%;
    height: 30vh;
    text-align: center;
}

#mensaje-tiempo h2 {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#mensaje-tiempo button {
    margin-top: 2vh;
    width: 10%;
    margin-left: 1%;
}

#btn-si {
    background-color: green;
}

#btn-no {
    background-color: red;
}

#contenedor_matching {
    background-color: aquamarine;
    position: sticky;
    top: 60vh;
    left: 50%;
    margin-right: 30%;
    margin-top: 10vh;
    margin-bottom: 40vh;
    width: 40%;
    height: 65vh;
    text-align: center;
}

#contenedor_matching h2 {
    padding-top:5vh;
    color: grey;
}

.chat {
    /*no soportado por firefox*/
    background-color: rgba(200, 220, 255, 0.8);
    /*backdrop-filter: blur(2px);*/
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    height: 40vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
}

#mensaje {
    margin-top: 1vh;
    height: 6vh;
    width: 95%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.new-message-container {
    /*no soportado por firefox*/
    background-color: rgba(255, 255, 255, 0.8);
    height: 8.5vh;
    /*backdrop-filter: blur(2px);*/
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    width: 80%;
    margin-left: 5%;
    margin-right: 2%;
    
    /*margin-right: 11%;*/
}

.btn-send {
    height: 8.5vh;

    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    /*margin-left: 8.3%;*/  
    background-color: rgba(255, 255, 255, 0.8);
    height: 8.5vh;
}

.btn-send button {
    margin-top: 40%;
}

.message-bubble-left {
    background-color: rgba(205, 250, 240, 0.9);
    width: 40%;
    margin-top: 1vh;
    margin-left: 2%;
    border-radius: 4px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1vh;
    padding-bottom: 0.1vh;
    height: auto;
    box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.5);
}

.message-bubble-right {
    background-color: rgba(215, 226, 224, 0.9);
    width: 40%;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: 2%;
    border-radius: 4px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1vh;
    padding-bottom: 0.1vh;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}


::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}